/*my css code*/
* {
    padding: 0;
    margin: 0;
}

.contain {
    background: #343a40;
    border-bottom: 1px solid #000000;
    width: 100%;
}

.scale {
    /*transition: 0.5s;*/
    display: inline-block;
    overflow: hidden;
}

.scale img {
    transition: 0.5s;
    display: block;
}

.scale img:hover {
    transform: scale(1.2);
}

a {
    outline: none;
    color: #2a2f34;
}

a:hover {
    color: black;
}

.center {
    text-align: center;
}

.tline {
    flex-direction: row;
    width: 33%;
    padding-left: 10px;
}

.welcomeBlock {
    text-align: center;
    padding: 191px;
}

.titleBlock {
    font-size: 80px;
    font-weight: bold;
}

.sidebar {
    display: block;
    border-right: 1px solid #343a40;
}

.content-box {
    padding: 0 7% 0 7%;
}

.content-box-img {
    padding: 3% 7% 3% 7%;
}

.sidebar ul {
    margin-left: 0;
    padding-left: 0;
}

.sidebar li {
    list-style-type: none;
}

.sidebar a {
    text-decoration: none;
}

/*edit css code*/

.card-text {
    text-align: left;
}

.card-text {
    text-align: center;
}

.card {
    background: #eeeeee;
}

/*test css*/

.red {
    background-color: red;
}

.item1 {
    grid-area: topBar;
    /*height: 60px;*/
    /*padding-top: 10px;*/
    /*height: 5%;*/
    padding: 10px 0 10px 0;
}

.item2 {
    grid-area: avatar;
}

.item2 img {
    width: 100%;
}

.item3 {
    grid-area: profileInfo;
}

.item4 {
    grid-area: someInfo;
}

.item5 {
    grid-area: wallContent;
}

.grid-container {
    display: grid;
    grid-template-areas: 'topBar topBar topBar topBar topBar topBar topBar'
    'avatar avatar profileInfo profileInfo profileInfo profileInfo profileInfo'
    'someInfo someInfo wallContent wallContent wallContent wallContent wallContent';
    grid-gap: 1px;
    background-color: red;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    /*text-align: center;*/
    /*padding: 20px 0;*/
    padding: 1% 10% 1% 10%;
    font-size: 17px;
}

@media screen and (max-width: 768px) {
    .card {
        background: #eeeeee;
        width: 80%;
    }

    .card-text {
        text-align: center;
        font-size: 10px;
    }

    .tline {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 50%;
        padding-left: 46px;
    }

    .titleBlock {
        font-size: 40px;
    }
}

@media screen and (max-width: 576px) {
    .tline {
        width: 60%;
        padding-left: 58px;
    }

    .titleBlock {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .tline {
        padding-left: 46px;
    }

    .titleBlock {
        font-size: 15px;
    }
}

